@font-face {
    font-family: 'Aerotis';
    src: url('Aerotis.otf');
}

@font-face {
    font-family: 'Arno Pro Light Display';
    src: url('Arno Pro Light Display.ttf');
}

* {
    font-family: 'Arno Pro Light Display', serif;
    box-sizing: border-box; /* padding included in sizing! */
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

h1 {
    font-family: "Aerotis", serif;
    font-size: 40px;
    transition-duration: 750ms;
    transition-timing-function: ease;
}

h2 {
    font-family: 'Arno Pro Light Display', serif;
    font-weight: lighter;
    font-size: 4em;
}

body {
    margin: 0;
    position: relative;
}

/* header {
    position: fixed;
    margin-top: 2em;
    z-index: 10;
    overflow: auto;
    width: 5em;
    top: 0;
} */

nav {
    position: fixed;
    margin-top: 2em;
    z-index: 10;
    width: 5em;
    top: 10;
    height: 100%;
    width: 200px;
}



nav ul {
    margin: 0;
    padding: 1em 0 1em 0;
    list-style: none;
    text-align: left;
    border-left: 10px white solid;
    width: 100%;
}

nav li {
    margin: 2em 0;
    width: 100%;
}

nav a {
    font-weight: bold;
    text-decoration: none;
    color: white;
    padding: 1em 1em 1em 1em;
    width: 100%;
}


.active {
    color: black;
    background: white;
}

.container {
    margin-left: 7em;
    /* border: 1px white solid;
    padding: 1em; */
}

.home {
    padding: 5em;
    height: 100%;
    min-height: 900px;
    background: grey;
    color: white;
    background-image: url('https://gurgickpansout.s3.amazonaws.com/TS_ENGAGEMENT20191115_0109.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right;

}

.couple {
    padding: 5em;
    height: 900px;
    border: 1px white solid;
    background: black;
    color: white;
}

.details {
    padding: 5em;
    height: 100%;
    min-height: 750px;
    background: grey;
    color: black;
    background-image: url('https://gurgickpansout.s3.amazonaws.com/TS_ENGAGEMENT20191115_0050.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: right
}

.guests {
    padding: 5em;
    height: 900px;
    background: #d3d3d3;
    color: white;
    text-align: right
}

.gifts {
    padding: 5em;
    height: 900px;
    background:#889bae;
    color: white;
}

.vendors {
    padding: 5em;
    height: 900px;
    background: black;
    color: white;
    text-align: right
}
